{% extends 'base.html.twig' %}

{% block title %}Edit Copain{% endblock %}

{% block body %}
    <h1>Edition Copain</h1>

    {{ include('copain/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_copain_index') }}" class="m-4 p-3 btn btn-warning">Retour à la liste</a>

    {{ include('copain/_delete_form.html.twig') }}
{% endblock %}
