{% extends 'base.html.twig' %}

{% block title %}Nouvel Emprunt{% endblock %}

{% block body %}
    <h1>Saisie Emprunt</h1>

    {{ include('emprunt/_form.html.twig') }}

    <a href="{{ path('app_emprunt_index') }}" class="m-4 p-3 btn btn-warning">Retour à la liste</a>
{% endblock %}
